<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>editar</title>
	<link rel="stylesheet" href="uikit-3.0.3/css/uikit.min.css"/>
    <script src="uikit-3.0.3/js/uikit.min.js"></script>
    <script src="uikit-3.0.3/js/uikit-icons.min.js"></script>
    <style type="text/css">
    	#c{
	   		position: fixed;
	    }
	     #img{
   			width: 2050px; 
        		height: 625px;
        		position: top;
         		padding: 0px;
         		margin: 0px;
         	}
         	#card{
       		padding: 50px;
       		width: 600px;

       	}
       	#a{
       		color:white;
       	}
    </style>
    
</h:head>
<f:metadata>
		<f:event listener="#{CMetas.carregarId(param['id'])}" type ="preRenderView"/>
</f:metadata>
<h:body>
	<div class="uk-position-relative">
      	<div id="c">
      		<img src="img/11.jpg" id="img"></img>
      	</div>
      	 <div class="uk-position-top uk-overlay ">
			<a class="uk-button uk-button-default uk-position-top-right" href="index.xhtml" id="a" style="margin: 10px"> sair</a>
  	    	<a class="uk-button uk-button-default" href="feed.xhtml" id="a" style="margin: 10px"> Feed</a> 
  	    	<a class="uk-button uk-button-default" href="projetos.xhtml" id="a" style="margin: 10px"> Projetos</a> 
			<a class="uk-button uk-button-default" href="metas.xhtml" id="a" style="margin: 10px"> Metas</a> 
</div>  
      	<br></br><br></br><br></br><br></br>
      	<center>
				<div class="uk-card uk-card-default uk-card-body" id="card">
					<h:form>
						<h2>Edite as informações da sua Meta!</h2><span uk-icon="heart"></span>
						<br></br>
						<h:inputHidden id="id" value="#{CMetas.id}" />
						<div class="uk-margin">
        						<div class="uk-inline">
            						<span class="uk-form-icon" uk-icon="icon: check"></span>
            						<h:inputText  class="uk-input" value="#{CMetas.nome}" name="nome" id="nome"></h:inputText>
        						</div>
        						<br /><br />
        						<div class="uk-inline">
            						<span class="uk-form-icon" uk-icon="icon: plus-circle"></span>
        							<h:inputTextarea class="uk-input" value="#{CMetas.obs}" name="obs" id="obs"></h:inputTextarea>
    							</div>
    					</div>
    					 <h:commandButton class="uk-button uk-button-secondary" action="#{CMetas.editar}" value="editar"></h:commandButton>
    				</h:form>
    		</div>
    	</center>
    </div>
</h:body>
</html>
