<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>Cadastre-se</title>
	<link rel="stylesheet" href="uikit-3.0.3/css/uikit.min.css" />
     <script src="uikit-3.0.3/js/uikit.min.js"></script>
    <script src="uikit-3.0.3/js/uikit-icons.min.js"></script>
<style type="text/css">
		#img{
 			width: 2050px; 
      		height: 600px;
      		position: fixed;
       		padding: 0px;
       		margin: 0px;
       	}
       	#card{
       		padding: 40px;
       		margin: 15px;
       	}
       	#a{
      	color: white;
      	position: relative;
      	}
       	 #texto{
		font-size: 40px;
		color: white;
		font-weight: bold;
		text-align: center;
		text-shadow: rgb(0, 128, 128) 0px 1px 0px,
		rgb(181, 181, 181) 0px 2px 0px,
		rgb(172, 172, 172) 0px 3px 0px,
		rgb(160, 160, 160) 0px 4px 0px,
		rgb(145, 145, 145) 0px 5px 0px,
		rgb(127, 127, 127) 0px 6px 0px,
		rgba(0, 0, 0, 0.199219) 0px 7px 1px,
		rgba(0, 0, 0, 0.296875) 0px 8px 6px;
      }
	</style>
	</h:head>
<h:body>
<div  class="uk-child-width-1@m uk-grid-small uk-grid-match" uk-grid="">
	<div>
		<div class="uk-position-relative">
			<img src="img/3.jpg" id="img"></img>
			<center>
				<div class="uk-position-top-right uk-overlay uk-overlay-default" id="card">
					<div class="uk-card uk-card-default uk-card-body ">
						<h:form>
							<h2>Cadastre-se</h2><span uk-icon="heart"></span>
							<br></br>
							<div class="uk-margin">
	        						<div class="uk-inline">
	            						<span class="uk-form-icon" uk-icon="icon: user"></span>
	            						<h:inputText p:placeholder="Nome" class="uk-input" value="#{Cadastroo.nome}" name="nome" id="nome"></h:inputText>
	        						</div>
	    					</div>
	    					<div class="uk-margin">
	        						<div class="uk-inline">
	            						<span class="uk-form-icon" uk-icon="icon: mail"></span>
	            						<h:inputText p:placeholder="Email" class="uk-input" value="#{Cadastroo.email}" name="email" id="email"></h:inputText>
	        						</div>
	    					</div>
	    					<div class="uk-margin">
	        						<div class="uk-inline">
	            						<span class="uk-form-icon" uk-icon="icon: lock"></span>
	            						<h:inputSecret class="uk-input" p:placeholder="Senha" value="#{Cadastroo.senha}" name="senha" id="senha"></h:inputSecret>
	        						</div>
	    					</div>
	    					<h:commandButton value="Enviar" class="uk-button uk-button-secondary">
	        					<f:ajax listener="#{Cadastroo.adc}" execute="@all" render="@all" event="click"/>
							</h:commandButton>
							</h:form>
							<br />
							<a class="uk-text-danger" href="login.xhtml">Já é cadastrado?</a>
					</div>
				</div>
			</center>
	    	</div>
	    </div>
    </div>
</h:body>
</html>
