<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>Feed</title>
	<link rel="stylesheet" href="uikit-3.0.3/css/uikit.min.css"/>
    <script src="uikit-3.0.3/js/uikit.min.js"></script>
    <script src="uikit-3.0.3/js/uikit-icons.min.js"></script>
    <style type="text/css">
		#c{
	   		position: fixed;
	    }
	    #a{
	    	color: white;
	    }
	    #img{
   			width: 2050px; 
        		height: 625px;
        		position: top;
         		padding: 0px;
         		margin: 0px;
         		filter: opacity(85%);
         	}
        #card{
        	width: 900px; 
        	height: 500px;
         	padding: 0px;
         	margin: 20px;
        }
         #texto{
		font-size: 40px;
		color: white;
		font-weight: bold;
		text-align: center;
		text-shadow: rgb(0, 128, 128) 0px 1px 0px,
		rgb(181, 181, 181) 0px 2px 0px,
		rgb(172, 172, 172) 0px 3px 0px,
		rgb(160, 160, 160) 0px 4px 0px,
		rgb(145, 145, 145) 0px 5px 0px,
		rgb(127, 127, 127) 0px 6px 0px,
		rgba(0, 0, 0, 0.199219) 0px 7px 1px,
		rgba(0, 0, 0, 0.296875) 0px 8px 6px;
      }
	</style>
</h:head>
<h:body>
	<div class="uk-position-relative">
      	<div id="c">
      		<img src="img/u.jpg" id="img"></img>
      	</div>
      	<div class="uk-position-top uk-overlay ">
<a class="uk-button uk-button-default uk-position-top-right" href="index.xhtml" id="a" style="margin: 10px"> sair</a>
  	    	<a class="uk-button uk-button-default" href="projetos.xhtml" id="a" style="margin: 10px"> Projetos</a> 
            <a class="uk-button uk-button-default" href="#modal-center" style="margin: 10px" id="a" uk-toggle="">adicionar +</a>
            <br></br>
        <center><h2 id="texto" class="uk-position-top-center">FEED</h2></center>
        <hr class="uk-divider-icon"></hr>
            <center>
        <ui:repeat value="#{CImagem.getLista()}" var="i" border="1">
        <li>
		<div class="uk-card uk-card-default uk-card-small uk-card-body" style="width: 950px; 
        	height: 550px;
         	padding: 0px;
         	margin: 0px;">
				<img src="#{i.imagem}" id="card"></img>
        </div>
        </li>
        </ui:repeat>
        	</center><br></br>
        	<center>
       <ui:repeat value="#{CVideo.getLista()}" var="i" border="1">
       <li>
		<div class="uk-card uk-card-default uk-card-small uk-card-body" style="width: 950px; 
        	height: 550px;
         	padding: 0px;
         	margin: 0px;">
				<video controls="" src="#{i.video}" id="card"></video>
			
        </div>
       </li>
        </ui:repeat>
        	</center>
			<a href="#" uk-totop="" uk-scroll="" class="uk-position-bottom-right uk-overlay uk-overlay-default" style="position: fixed"></a> 
                <div id="modal-center" class="uk-flex-top" uk-modal="">
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close=""></button>
                    <center><span uk-icon="pencil"></span><h2>Adicione um post para que todos vejam sua esperiência com o P.O.W!</h2></center><br></br>
                    <h:form enctype="multipart/form-data">
                    	<center><span uk-icon="image"></span></center><br></br>
                    	<center>
                       <h:inputFile p:placeholder="Insira uma imagem" value="#{CImagem.imagem}" name="imagem" id="imagem"/>
						<h:commandButton value="Enviar" class="uk-button uk-button-secondary">
        					<f:ajax listener="#{CImagem.pegarImagem}" execute="@all" render="@all" event="click"/>
						</h:commandButton>
      					</center>
                    </h:form>
                    <br></br>
                    <h:form enctype="multipart/form-data">
                    	<center><span uk-icon="video-camera"></span></center><br></br>
                      <center>
					<h:inputFile p:placeholder="Insira um video" value="#{CVideo.video}" name="video" id="video"/>
					<h:commandButton value="Enviar" class="uk-button uk-button-secondary">
        					<f:ajax listener="#{CVideo.pegarVideo}" execute="@all" render="@all" event="click"/>
					</h:commandButton>
                      </center>
                    </h:form>
                  </div>
                </div>
  		</div>
  	</div>
</h:body>
</html>
