<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>POW</title>
	 <link rel="stylesheet" href="uikit-3.0.3/css/uikit.min.css" />
      <script src="uikit-3.0.3/js/uikit.min.js"></script>
      <script src="uikit-3.0.3/js/uikit-icons.min.js"></script>
      <style type="text/css">
		 #img{
      	width: 2050px; 
      	height: 590px;
      	position: top;
       	padding: 0px;
       	margin: 0px;
       	filter: opacity(95%);
      }
      #um{
      		width: 100%; 
      	height: 630px;
      }
      #a{
      	color: white;
      	position: relative;
      }
      #texto{
		font-size: 35px;
		color: white;
		font-weight: bold;
		text-align: center;
		text-shadow: rgb(0, 128, 128) 0px 1px 0px,
		rgb(181, 181, 181) 0px 2px 0px,
		rgb(172, 172, 172) 0px 3px 0px,
		rgb(160, 160, 160) 0px 4px 0px,
		rgb(145, 145, 145) 0px 5px 0px,
		rgb(127, 127, 127) 0px 6px 0px,
		rgba(0, 0, 0, 0.199219) 0px 7px 1px,
		rgba(0, 0, 0, 0.296875) 0px 8px 6px;
      }
	</style>
</h:head>
<h:body>
<div  class="uk-child-width-1@m uk-grid-small uk-grid-match" uk-grid="">
	<div id="img">
		<div class="uk-position-relative">
			<img src="img/5.jpg" id="img" ></img>
	    		<div class="uk-width-1-3@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-position-bottom-right uk-overlay ">
	        		<h1 id="a">Bem pertinho de você para te ver crescendo</h1>
	       			<p id="a">Sua história pode mudar com alguns cliques de organização!Seja esperto e trabalhe com a mais nova motivação para seus dias, acredite em você e siga em frente com o Programa de Organização Web.</p>
			</div>
			 <div class="uk-position-top uk-overlay">
			 	<p uk-margin="">
		    		<a class="uk-button uk-button-default" href="cadastro.xhtml"  id="a">Cadastre-se</a>
		    		<a class="uk-button uk-button-default" href="login.xhtml" id="a">Login</a>
		    	</p>
			 </div>
			 <div class="uk-position-top-right uk-overlay">
			 	<p>
			 		<a class="uk-button uk-button-default" href="#um" uk-scroll="" id="a">Sobre</a>
		    	</p>
			 </div>
	    </div>
	</div>
	<div id="img">
	    <div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex uk-flex-top" style="background-image: url('img/2.jpg');" id="um">
		    <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
		        <h1 uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">P.O.W</h1>
		        <h3><p uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">O POW permite trabalhar com mais colaboração e ter mais produtividade.Com os quadros, listas e cartões do POW, você pode organizar e priorizar seus projetos de um jeito divertido, flexível e gratificante.</p></h3>
		    </div>
		</div>
	</div>
	<div>
			<div class="uk-height-large uk-background-cover uk-overflow-hidden uk-light uk-flex" style="background-image: url('img/10.jpg');" id="um">
			     <div class="uk-grid uk-margin-auto uk-margin-auto-vertical uk-flex-inline">
			       	<h1><div><div class="uk-card uk-padding-small" uk-parallax="y: 200; easing: -2" id="texto">SUPERE</div></div></h1>
			        <h1><div><div class="uk-card uk-padding-small" uk-parallax="y: 200; easing: -1" id="texto">SEUS</div></div></h1>
			        <h1><div><div class="uk-card uk-padding-small" uk-parallax="y: 200; easing: -0.5" id="texto">DESAFIOS</div></div></h1>
			        <h1><div><div class="uk-card uk-padding-small" uk-parallax="y: 200; easing: 0" id="texto">E</div></div></h1>
			        <h1><div><div class="uk-card uk-padding-small" uk-parallax="y: 200; easing: 0.5" id="texto">SE</div></div></h1>
			        <h1><div><div class="uk-card uk-padding-small" uk-parallax="y: 200; easing: 1" id="texto">SURPREENDA!</div></div></h1>
			    </div>
			    <footer>
			    	<br></br>
					<br></br>
					<br></br>
					<center>
							<a style="color:purple" href="https://www.instagram.com/biank_b/" class="uk-icon-button uk-margin-small-right" uk-icon="instagram"></a>
							<a style="color:orange" href="https://gitlab.com/BiancaAndrade?nav_source=navbar" class="uk-icon-button uk-margin-small-right" uk-icon="github"></a>
							<a style="color:red" href="" class="uk-icon-button uk-margin-small-right" uk-tooltip="title: andradessbianca@gmail.com; pos: right" uk-icon="google"></a>
					</center>
				</footer>
			</div>
			</div>
			</div>
</h:body>
</html>
