<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>Login</title>
	<link rel="stylesheet" href="uikit-3.0.3/css/uikit.min.css"/>
    <script src="uikit-3.0.3/js/uikit.min.js"></script>
    <script src="uikit-3.0.3/js/uikit-icons.min.js"></script>
</h:head>

<h:body>
	<style type="text/css">
		#img{
 			width: 2050px; 
      		height: 625px;
      		position: top;
       		padding: 0px;
       		margin: 0px;
       	}
       	#a{
      		color: white;
      		position: relative;
      	}
      	#texto{
			font-size: 40px;
			color: white;
			font-weight: bold;
			text-align: center;
			text-shadow: rgb(0, 128, 128) 0px 1px 0px,
			rgb(181, 181, 181) 0px 2px 0px,
			rgb(172, 172, 172) 0px 3px 0px,
			rgb(160, 160, 160) 0px 4px 0px,
			rgb(145, 145, 145) 0px 5px 0px,
			rgb(127, 127, 127) 0px 6px 0px,
			rgba(0, 0, 0, 0.199219) 0px 7px 1px,
			rgba(0, 0, 0, 0.296875) 0px 8px 6px;
	      }
	</style>
	<div class="uk-position-relative">
		<img src="img/1.jpg" id="img"></img>
		<div class="uk-width-1-3@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-position-top-right uk-overlay">
        		<h1 id="texto">SEJA BEM-VINDO!</h1>
       			
		</div>
		<center>
			<div class="uk-position-center-left uk-overlay uk-overlay-default">
				<div class="uk-card uk-card-default uk-card-body">
					
						<h2>Vamos em frente!</h2><span uk-icon="heart"></span>
						<br></br>
						<h:form>
						<div class="uk-margin">
        						<div class="uk-inline">
            						<span class="uk-form-icon" uk-icon="icon: mail"></span>
            						<h:inputText class="uk-input" type="text" id="email" name="email" p:placeholder="Email"></h:inputText>
        						</div>
    					</div>
    					<div class="uk-margin">
        						<div class="uk-inline">
            						<span class="uk-form-icon" uk-icon="icon: lock"></span>
            						<h:inputSecret class="uk-input" type="text" id="senha" name="senha" p:placeholder="Senha"></h:inputSecret>
        						</div>
    					</div>
    					<h:commandButton class="uk-button uk-button-secondary" action="projetos.xhtml" value="Enviar"></h:commandButton>
					</h:form>
				</div>
			</div>
		</center>
    </div>
</h:body>
</html>
