<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>Metas</title>
	<link rel="stylesheet" href="uikit-3.0.3/css/uikit.min.css"/>
    <script src="uikit-3.0.3/js/uikit.min.js"></script>
    <script src="uikit-3.0.3/js/uikit-icons.min.js"></script>
    <style type="text/css">
            #img{
        width: 2050px; 
            height: 625px;
            position: fixed;
            padding: 0px;
            margin: 0px;
            filter: opacity(85%);
          }
                  #a{
          color: white;
          position: relative;
          }
          #texto{
      font-size: 40px;
      color: white;
      font-weight: bold;
      text-align: center;
      text-shadow: rgb(0, 128, 128) 0px 1px 0px,
      rgb(181, 181, 181) 0px 2px 0px,
      rgb(172, 172, 172) 0px 3px 0px,
      rgb(160, 160, 160) 0px 4px 0px,
      rgb(145, 145, 145) 0px 5px 0px,
      rgb(127, 127, 127) 0px 6px 0px,
      rgba(0, 0, 0, 0.199219) 0px 7px 1px,
      rgba(0, 0, 0, 0.296875) 0px 8px 6px;
        }
    </style>
</h:head>
<h:body>
	<div class="uk-position-relative">
        <div id="c">
          <img src="img/4.jpg" id="img"></img>
        </div>
        <div class="uk-position-top uk-overlay ">
            <a class="uk-button uk-button-default" href="feed.xhtml" id="a" style="margin: 10px"> feed</a> 
            <a class="uk-button uk-button-default" href="#modal-center" style="margin: 10px" id="a" uk-toggle="">adicionar +</a>
            <a class="uk-button uk-button-default uk-position-top-right" href="index.xhtml" id="a" style="margin: 10px"> sair</a>
            <a class="uk-button uk-button-default" href="projetos.xhtml" id="a" style="margin: 10px"> Projetos</a> 
             <br></br>
        <center><h2 id="texto" class="uk-position-top-center">METAS</h2></center>
        <hr class="uk-divider-icon"></hr>
            <center>
                <div id="modal-center" class="uk-flex-top" uk-modal="">
                    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" uk-close=""></button>
                    <center><span uk-icon="pencil"></span><h2>Adicione uma meta</h2></center><br></br>
                    <h:form>
                      <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: check"></span>
                                  <h:inputText p:placeholder="Nome" class="uk-input" value="#{CMetas.nome}" name="nome" id="nome"></h:inputText>
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: plus-circle"></span>
                                  <h:inputTextarea p:placeholder="Comentário" class="uk-input" value="#{CMetas.obs}" name="obs" id="obs"></h:inputTextarea>
                            </div>
                        </div>
                        <center>
                        <h:commandButton value="Enviar" class="uk-button uk-button-secondary">
        					<f:ajax listener="#{CMetas.adc}" execute="@all" render="@all" event="click"/>
						</h:commandButton>
						</center>
                    </h:form>
                  </div>
                </div>
          </center>
      </div>
</div>
<br></br><br></br><br></br><br></br><br></br><br></br>
  <div align="center">
    <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid="" >
    <ui:repeat value="#{CMetas.getLista()}" var="metas" border="1">
    <li>
        <div class="uk-card uk-card-default uk-card-body">
        	<ul class="uk-iconnav">
    			<li><a href="atuMetas.xhtml?id=#{metas.id}" uk-toggle="" uk-icon="icon: file-edit" style="color:black"></a></li>
   				<li><a href="#deletar" uk-toggle="" uk-icon="icon: trash" style="color:black"></a></li>
			</ul>
			<div id="deletar" uk-modal="">
														    <div class="uk-modal-dialog uk-modal-body">
														        <h4 class="uk-modal-title">Deseja realmente apagar esta meta?</h4>
														        <p class="uk-text-right">
														        <h:form>
														            <h:commandLink class="uk-button uk-button-default uk-modal-close" type="button" action="#{CMetas.deletar(metas.id)}" value="Sim"></h:commandLink> 
														            <h:commandLink class="uk-button uk-button-primary" type="button" action="#" value="Não"> </h:commandLink>
														         </h:form>
														            </p>
															</div>
													</div>
			
            <h3 class="uk-card-title">#{metas.nome}</h3>
            <p>#{metas.obs}</p>
        </div>
    </li>
    </ui:repeat>
    </div>
</div>
</h:body>
</html>
