<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
	<title>Projetos</title>
	<link rel="stylesheet" href="uikit-3.0.3/css/uikit.min.css"/>
    <script src="uikit-3.0.3/js/uikit.min.js"></script>
    <script src="uikit-3.0.3/js/uikit-icons.min.js"></script>
</h:head>
<h:body>
	<style type="text/css">
		#img{
 			width: 2050px; 
      		height: 625px;
      		position: top;
       		padding: 0px;
       		margin: 0px;
       		filter: opacity(85%);
       	}
       	#c{
       		position: absolute;
       	}
       	#a{
      	color: white;
      	position: relative;
      	}
       	#texto{
		font-size: 40px;
		color: white;
		font-weight: bold;
		text-align: center;
		text-shadow: rgb(0, 128, 128) 0px 1px 0px,
		rgb(181, 181, 181) 0px 2px 0px,
		rgb(172, 172, 172) 0px 3px 0px,
		rgb(160, 160, 160) 0px 4px 0px,
		rgb(145, 145, 145) 0px 5px 0px,
		rgb(127, 127, 127) 0px 6px 0px,
		rgba(0, 0, 0, 0.199219) 0px 7px 1px,
		rgba(0, 0, 0, 0.296875) 0px 8px 6px;
      }
	</style>
	<div class="uk-position-relative">
		<div id="c">
    		<img src="img/12.jpg" id="img"></img>
    	</div>
    	<div class="uk-position-top uk-overlay ">
		 	<p>
		 	<a class="uk-button uk-button-default uk-position-top-right" href="index.xhtml" id="a" style="margin: 10px"> sair</a>
	    	<a class="uk-button uk-button-default" href="feed.xhtml" id="a" style="margin: 10px"> feed</a> 
          <a class="uk-button uk-button-default" href="#modal-center" style="margin: 10px" id="a" uk-toggle="">adicionar +</a>
              <div id="modal-center" class="uk-flex-top" uk-modal="">
                  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                  <button class="uk-modal-close-default" type="button" uk-close=""></button>
                  <center><span uk-icon="pencil"></span><h2>Adicione um projeto</h2></center><br></br>
                  <h:form enctype="multipart/form-data">
                    <div class="uk-margin">
                          <div class="uk-inline">
                              <span class="uk-form-icon" uk-icon="icon: check"></span> 
                                <h:inputText p:placeholder="Nome" class="uk-input" value="#{CProjetos.nome}" name="nome" id="nome"></h:inputText>
                          </div>
                      </div>
                      <center><span uk-icon="image"></span></center><br></br>
                       <h:inputFile p:placeholder="Insira uma imagem" value="#{CProjetos.imagem}" name="imagem" id="imagem"/>
                   <br></br><br></br>
                   <center>
                     <h:commandButton class="uk-button uk-button-secondary" action="#{CProjetos.adc}" value="Enviar"></h:commandButton>
					</center>
                  </h:form>
                </div>
              </div>
	    	</p>
		</div>
		</div>
		<br></br><br></br><br></br><br></br><br></br>
		<div align="center">
					<div uk-slider="center: true">
      					<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
      					  <ul class="uk-slider-items uk-child-width-1-3@s uk-grid">
      						<ui:repeat value="#{CProjetos.getLista()}" var="projetos" border="1">
             						<li>
		                  					<div class="uk-card uk-card-default">
		                  						<div class="uk-card-media-top">
		                          					<img src="#{projetos.imagem}" alt=""></img>
		                      					</div>
		                      				<div class="uk-card-body">
		                          				<h3 class="uk-card-title">#{projetos.nome}</h3>
		                          				<h:form>
		                          					<center>
                    									<a class="uk-button uk-button-secondary" href ="metas.xhtml">Ver</a>
													</center>
													</h:form>
													<center>
													<ul class="uk-iconnav">
    													<li><a href="atuProjetos.xhtml?id=#{projetos.id}" uk-toggle="" uk-icon="icon: file-edit" style="color:black"></a></li>
   														<li><a href="#deletar" uk-toggle="" uk-icon="icon: trash" style="color:black"></a></li>
													</ul>
													</center>
													<div id="deletar" uk-modal="">
														    <div class="uk-modal-dialog uk-modal-body">
														        <h4 class="uk-modal-title">Deseja realmente apagar este projeto?</h4>
														        <p class="uk-text-right">
														        <h:form>
														            <h:commandLink class="uk-button uk-button-default uk-modal-close" type="button" action="#{CProjetos.deletar(projetos.id)}" value="Sim"></h:commandLink> 
														            <h:commandLink class="uk-button uk-button-primary" type="button" action="#" value="Não"> </h:commandLink>
														         </h:form>
														            </p>
															</div>
													</div>
														    </div>
														</div>
														</li>
             				</ui:repeat>
													</ul>
                      									
                      						</div>
                  							</div>
          						<a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous="" uk-slider-item="previous"></a>
          						<a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next="" uk-slider-item="next"></a>
          					</div>
         						 <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</h:body>
</html>
